@font-face {
    font-family: KGNextToMe;
    src: url(thetings/KgNextToMeSolid-82Az.ttf);
}

#a{
    font-family: KGNextToMe;
    color: white;
    text-align: center;
}

body{
    background-color: #000F1D;
}