@font-face {
    font-family: KGNextToMe;
    src: url(thetings/KgNextToMeSolid-82Az.ttf);
}

#a{
    padding-top: 300px;
    padding-bottom: 300px;
    margin-left: 120px;
    margin-right: 120px;
    font-family: KGNextToMe;
    color: white;
    text-align: center;
}

a{
    color: white;
}

body{
    background-color: #000F1D;
}

li{
    list-style-type: none;
    margin:0;
    padding:5px;
    width: 200;
    display: inline;
    position: sticky;
    overflow: hidden;
}