@font-face {
    font-family: KGNextToMe;
    src: url(thetings/KgNextToMeSolid-82Az.ttf);
}

#a{
    padding-top: 300px;
    padding-bottom: 300px;
    font-family: KGNextToMe;
    color: white;
    text-align: center;
}

a{
    color: white;
}

body{
    background-color: #000F1D;
}